.categories {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.category {
  padding: 10px;
  background-color: #eee;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-bottom: 0px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.category.active {
  background-color: white;
}

.products {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
}

.product {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  text-align: center;
}
